extend layout
block nav-header-form
	form.navbar-form.navbar-right
		a.btn.btn-danger(href='/logout') Logout
block top-content
	h1 Welcome to the metrics dasboard
	p You are now logged into your account. View and manage your metric data below.
block content
	div.row
		div.col-md-4
			form.form-inline
				div.form-group
					select.form-control#metricSelect
		div.col-md-4
			form.form-inline
				button.btn.btn-success#plot-metrics Plot Metrics
		div.col-md-4
			form.form-inline
				a.btn.btn-primary(href='metric/new') New Metrics
	div.row
		div.col-md-12
			p#error
block error-block
	if typeof(locals.error) !== 'undefined'
		div.alert.alert-danger
			p #{locals.error}
block scripts
	script
		:coffee-script
			metrics = []
			$ () ->
				$.get '/userMetrics.json'
					.done (data) ->
						for id in data
							console.log("data: "+id)
							$.getJSON '/metric/'+id+'.json', (data) ->
								console.log data
								metrics.push(data)
								option = $ '<option>', 
									value: data.id
									name: data.name
								option.text(data.name)
								$('#metricSelect').append(option)
					.fail (jqXHR, textStatus, errorThrown) ->
						if jqXHR.status == 404
							$('#error').text("You don't have any metrics yet")
						else
							$('#error').text("We couldn't load your metrics")
						
