extend layout

block head

block content
	div.container
		div.row
			div.col-md-6.col-md-offset-3
				button.btn.btn-success#get-metrics Hello World!
				#content

	script
		:coffee-script
			$('#get-metrics').click (e) ->
				e.preventDefault()
				$.getJSON '/metrics.json', (data) ->
					$('#content').empty()
					c = ""
					for metric in data 
						c += "<p>timestamp: #{metric.timestamp}<br/>value: #{metric.value}</p>"
					$('#content').append c