extend layout
block content
	div.container
		div.row
			div.col-md-6
				select#metricSelect
			div.col-md-6
				button.btn.btn-success#plot-metrics Plot Metrics
		div.row
			p#error
		div.row
			a(href='metric/new') New Metrics

	script
		:coffee-script
			metrics = []
			$ () ->
				$.get '/userMetrics.json'
					.done (data) ->
						for id in data
							$.getJSON '/metric/'+id+'.json', (data) ->
								console.log data
								metrics.push(data)
								option = $ '<option>', 
									value: data.id
									name: data.name
								option.text(data.name)
								$('#metricSelect').append(option)
					.fail (jqXHR, textStatus, errorThrown) ->
						if jqXHR.status == 404
							$('#error').text("You don't have any metrics yet")
						else
							$('#error').text("We couldn't load your metrics")
						
