doctype html
html
	head
		title #{locals.title}
		//- here goes our CSS and JS
		script(src="/js/jquery-2.1.4.js")
		script(src="/js/bootstrap.min.js")
		link(rel="stylsheet", href="/css/bootstrap.min.css")
		block head
	body
		block content