extend layout
block nav-header-form
	form.navbar-form.navbar-right
		a.btn.btn-danger(href='/logout') Logout
block top-content
	h1 Add new metrics
	p You can create new metrics here and they shall be saved to the database for later retrieval.
block content
	div.row
		div.col-md-12
			form
				div.form-group
					label(for="Metricname") Metric name
					input.form-control#Metricname(type="text", placeholder="Add metric name")
				div.form-group.date
					div.input-group.date#datepicker
						input.form-control#timestamp(type="text", placeholder="Pick a date")
						span.input-group-addon
							span.glyphicon.glyphicon-calendar
				div.form-group
					label(for="Metricvalue") Metric value
					input.form-control#Metricvalue(type="number", placeholder="Add metric value")
				button.btn.btn-primary#addMetric(type="submit") Add metric
				button.btn.btn-success#saveMetric(type="submit") Save metric
	div.row
		div.col-md-12
			hr
			div#chart
	div.row
		div.col-md-12
			ul#metricsPreview
	div.row
		div.col-md-12
			p#error
block error-block
	if typeof(locals.error) !== 'undefined'
		div.alert.alert-danger
			p #{locals.error}
block scripts
	script
		:coffee-script
			metrics =
				data: []
			$('#datepicker').datetimepicker()
			$('#addMetric').click (e) ->
				e.preventDefault()
				date = $('#timestamp').val()
				value = $('#Metricvalue').val()
				if date == "" || value == "" then alert("Need a value and a timestamp")
				else
					metric = 
						value: value
						timestamp: new Date(date).getTime()
					metrics.data.push metric
					$('#metricsPreview').append $('<li>').text(metric.timestamp + ' / ' + metric.value)
					console.log metric.data
			$('#saveMetric').click (e) ->
				e.preventDefault()
				name = $('#Metricname').val()
				if name == ""
					alert("Need a name");
				else
					metrics.name = name
					console.log metrics
					$.post '/metric', metrics
						.done (data) ->
							console.log data
							window.location = "/"
						.fail (jqXHR, textStatus, errorThrown) ->
							if jqXHR.status == 404
								$('#error').text("You don't have any metrics yet")
							else
								$('#error').text("We couldn't load your metrics")



    