extend layout
block head
	title Signup
block content
	#form
	p Please login to your account
	hr
	form#login(action='/signup', method="post")
		.form-group
			label Username
			input(type='text', name="username")
		.form-group
			label Password
			input(type='password', name="password")
		.form-group
			label Name
			input(type='text', name="name")
		.form-group
			label Email
			input(type='text', name="email")
		button#login_submit.btn.btn-primary.btn-block(type='submit') 
			i.icon-ok.icon-white
			| Create an account
	div.container
		div.row
			div.col-md-12
				p #{locals.error}