extend layout
block nav-header-form
	form.navbar-form.navbar-right#login(action="/login" method="post")
		div.form-group
			input.form-control(type="text" placeholder="Username" name="username")
		div.form-group
			input.form-control(type="password" placeholder="Password" name="password")
		button.btn.btn-success#login_submit(type="submit") Connect
block top-content
	h1 Create an account
	p Enter details below to create an account and gain access to metrics system.
block content
	div.row
		div.col-md-12
			form#login(action='/signup', method="post")
				div.form-group
					label(for="username") Username
					input.form-control(type="text" name="username" placeholder="Add username")
				div.form-group
					label(for="password") Password
					input.form-control(type="password" name="password" placeholder="Add password")
				div.form-group
					label(for="name") Name
					input.form-control(type="text" name="name" placeholder="Add name")
				div.form-group
					label(for="email") Email
					input.form-control(type="email" name="email" placeholder="Add email")
				button.btn.btn-primary#login_submit(type="submit") Create account	
block error-block
	if typeof(locals.error) !== 'undefined'
		div.alert.alert-danger
			p #{locals.error}
